<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <style>
        /* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

 
.main-header {
    background-color: #333;
    padding: 20px;
}

.main-header__nav {
    display: flex;
    justify-content: space-around;
}

.main-header__item-list {
    list-style: none;
    padding: 0;
}

.main-header__item {
    display: inline;
}

.main-header__item a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}

.main-header__item a:hover {
    background-color: #ddd;
    color: black;
}
/* Main styles */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-between;
}

.card__header {
    padding: 10px;
}

.card__image {
    height: 268px;
    width: 340px;
    overflow: hidden;
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    padding: 10px;
}

.product__title {
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}

.product__price {
    font-weight: bold;
    color: #333;
    text-align: center;
}

.product__description {
    color: #666;
    margin-bottom: 10px;
}

.product__dat {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.card__actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    
}
.method{
    padding: 5px;
    text-align: center;
}
.method2{
    padding: 5px;
    text-align: center;
    display: flex;
    overflow: auto;
    margin: 51px;
}
.btn2{
    display: inline-block;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;  
    margin-top:120px;
    margin-left: 10px;
}
.btn {
    display: inline-block;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn:hover {
    background-color: #333;
    color: #fff;
    border-color: #fff;
}

/* Fixed image size */
.fixed-image {
    width: 150px;
    height: 150px;
}

/* Fixed button size */
.fixed-button {
    width: 100px;
    height: 40px;
}
    </style>
    </head>

    <body>
  
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="Class1" href="/admin/add-product">Add Product</a>
            </li>
            <li class="main-header__item">
                <a class="Class2" href="/admin/add-category">Manage Category</a>
            </li>
            <li class="main-header__item">
                <a class="Class3" href="/admin/get-all-products">Admin Products</a>
            </li>
            <li class="main-header__item">
              <a class="Class3" href="/admin/all-user">User details</a>
          </li>
            <li class="main-header__item">
              <form class="main-header__item"action="/admin/logout" method="post">
                  
                  <button class="main-header__item"type="submit">Logout</button>
              </form>
          </li>
    </nav>
</header>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="/<%= product.image %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <%
                                    
                                        const date=new Date(product.expireDate);
                                        const year=date.getFullYear();

                                        const month=(date.getMonth()+1).toString().padStart(2,'0');
                                        const day=date.getDate().toString().padStart(2,'0');
                                        const newDate=day+'-'+month+'-'+year;
                                    %>
                                    <p class="product__dat">
                                        <%= newDate %>
                                    </p>
                                </div>
                            
                                <div class="card__actions">
                                    <form action="/admin/details" method="GET">
                                        <input type="hidden" value="<%= product._id %>" name="productId">
                                        <button class="btn" type="submit">Details</button>
                                    </form>
                                </div>
                            </article>
                           
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
                      
                        
                        <div>
                            <a href="/admin/add-category" class="btn2">Back</a>
                        </div> 
            </main>    
            <script>
                window.addEventListener('pageshow', function(event) {
                     if (event.persisted) {
                         location.reload(true);
                     }
                 });
             </script>
    </body>
        
</html>